<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".plist" mimeType="text/xml" />
            <mimeMap fileExtension=".tmx" mimeType="text/xml" />
            <mimeMap fileExtension=".tsx" mimeType="text/xml" />
            <mimeMap fileExtension=".ccb" mimeType="text/xml" />
            <mimeMap fileExtension=".bgm" mimeType="text/xml" />
            <mimeMap fileExtension=".ccbi" mimeType="text/xml" />
            <mimeMap fileExtension=".fnt" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>